@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="width:@NavMenuSize%">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private bool collapseNavMenu = false;
    private string NavMenuSize => collapseNavMenu ? "10" : "20";
   
}
