@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar @NavMenuSize">
        <NavMenu SetCollapse="@SetCollapse"/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private bool _collapseNavMenu = false;
    private string NavMenuSize => _collapseNavMenu ? "shrunkNavbar" : "expandedNavbar";

    public void SetCollapse(bool collapse)
    {
        _collapseNavMenu = collapse;
    }   
}
