<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Stocks.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Stocks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stockslegend">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Stocks legend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="StockDividendChapmpionsByMonthListView">
                <span class="oi oi-excerpt" aria-hidden="true"></span>Dividend champions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DividendEventDisplay">
                <span class="oi oi-excerpt" aria-hidden="true"></span>Dividend display
            </NavLink>
        </li>
        @*
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stocksview">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Stocks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="download">
                <span class="oi oi-badge" aria-hidden="true"></span> download
            </NavLink>
        </li>*@
    </ul>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
