@page "/"
@using Stocks.Core;
@using Stocks.Core.Models;
@inject IJSRuntime JSRuntime
@inject IStocksRepository stockRepository;
@inject IStockExcelWriter stockExcelWriter;
<h1>Let's see some stocks</h1>

<button class="btn btn-primary" @onclick="Reload">Reload</button>
<button class="btn btn-info" @onclick="SwitchToUpcoming">Show upcoming</button>
<button class="btn btn-info" @onclick="SwitchToGraterThan1">Show dividend to price ratio > 1%</button>
<button class="btn btn-info" @onclick="SwitchSpecial">Show with special</button>
<button class="btn btn-light" @onclick="ShowSpecialDates">Show extra columns</button>
<button class="btn btn-info" @onclick="DownloadFile">Download Excel</button>

@if (isDownloading)
{
    <p><em>File being generated...</em></p>
}

@if (_stocks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <StockDividendTable @bind-Stocks="_upComingstocks" @bind-VisibilitySwitch="_visibilitySwitch" @bind-ShowSpecialDates="_showSpecialDates" />
    <h3 class="text-center">Today @DateTime.Today.ToShortDateString()</h3>
    <StockDividendTable @bind-Stocks="_oldStocks" @bind-VisibilitySwitch="_visibilitySwitch" @bind-ShowSpecialDates="_showSpecialDates" />
}

@code{

    private IEnumerable<StockDividend> _stocks;
    private IEnumerable<StockDividend> _upComingstocks;
    private IEnumerable<StockDividend> _oldStocks;

    private bool _showSpecialDates = false;

    private Dictionary<string, bool> _mySwitch;

    private bool isDownloading = false;

    private string _visibilitySwitch = "";

    private void SwitchToUpcoming()
    {
        SwitchSelection(Common.SwitchToUpcoming);
    }

    private void SwitchToGraterThan1()
    {
        SwitchSelection(Common.SwitchToGraterThan1);
    }

    private void SwitchSpecial()
    {
        SwitchSelection(Common.HasSpecial);
    }

    private void SwitchSelection(string key)
    {
        var deselect = _mySwitch.Where(x => x.Key != key);
        foreach (var item in deselect)
        {
            _mySwitch[item.Key] = false;
        }
        _mySwitch[key] = !_mySwitch[key];
        _visibilitySwitch = _mySwitch[key] ? key : "";
    }

    private void ShowSpecialDates()
    {
        _showSpecialDates = !_showSpecialDates;
    }

    private async Task UpdateStocks()
    {
        _stocks = await stockRepository.GetStocks();
        _upComingstocks = FilterWhenToBuyComparedToToday(days => days >= 0);
        _oldStocks = FilterWhenToBuyComparedToToday(days => days < 0);
    }

    private IEnumerable<StockDividend> FilterWhenToBuyComparedToToday(Func<int, bool> compare)
        => _stocks.Where(s => compare((s.LatestDividendHistory.WhenToBuy - DateTime.Today).Days));

    protected override async Task OnInitializedAsync()
    {
        await UpdateStocks();
        _mySwitch = new Dictionary<string, bool>
        {
            [Common.SwitchToUpcoming] = false,
            [Common.SwitchToGraterThan1] = false,
            [Common.HasSpecial] = false
        };
    }

    private async Task Reload()
    {
        _visibilitySwitch = null;
        _stocks = null;
        await UpdateStocks();
    }

    async Task DownloadFile()
    {
        isDownloading = true;
        var bytes = await stockExcelWriter.WriteToExcelAsync();
        await JSRuntime.InvokeVoidAsync(
         "downloadFromByteArray",
         new
         {
             ByteArray = bytes,
             FileName = "stocks.xlsx"
         });
        isDownloading = false;
    }
}