@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

h5.float {
    display: inline;
    float: left;
    padding-left: 10px;
}

#header { 
    padding: 10px;
    margin-bottom: 10px;
    width: 270px;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
    background: rgba(255,255,255,0.75);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exDate, .payDate {
    vertical-align: middle;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #91d2ff;
}

.payDate {
    background-color: #0fb122;
}

h1.header {
    font-family: Georgia;
    font-weight: 800;
}

div.card, div.cardWeekend {
    height: 15rem;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    overflow: hidden;
    float: left; /* add this */
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}

div.cardWeekend {
   height: 7.25rem;
   background-color: #a6d8a8;
}

div.header, div.headerWeekend, div.headerOtherMonth, div.headerToday {
    background-color: #29a32d;
    color: white;
    padding: 10px;
    font-size: 2.5rem;
    height: 6.5rem;
}

div.headerWeekend {
    background-color: #a6d8a8;
    float: left;
    width:6rem;
}

div.headerOtherMonth {
    background-color: #bababa;
}

div.headerToday {
    background-color: #0098b0;
}

div.container, div.containerToday, div.containerOtherMonth, div.containerWeekend {
    padding: 10px;
}

div.containerWeekend, div.containerOtherMonth {
    overflow: hidden;
}

    html, body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
