@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*https://stackoverflow.com/questions/39146047/display-tooltip-when-container-overflow-is-hidden*/

:root {
    --exDividendColor: #91d2ff;
    --payDateColor: #0fb122;
}

.stockdetail {
    padding-left:10px;
    padding-top:5px;
}

    .stockdetail h5 {
        text-align: right;
        float: left;
    }
    .stockdetail div {
        width:150px;
        text-align:left;
    }

.stockName, .displayDay .payDate {
    display: inline-block;
    height: 120px;
    padding-left: 5px
}

.displayDay .exDate, .displayDay .payDate {
    width: 95%;
    height: 100px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    margin-bottom: 10px;
    font-size: small;
    vertical-align: central;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    color: white;
    padding: 40px 10px 0px 10px;
    background-color: #91d2ff;
    opacity: .8;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.displayDay .payDate, h5.payDateHeader {
    background-color: #0fb122;
}

.displayDay {
    width: 100px;
    text-align: center;
}
.stockName {
    width: 230px;
    text-align: left;
}
.dividendTooltip {
    position: relative;
    display: inline-block;
}
    .dividendTooltip .displayDay {
        width:30%;
        border-right: 1px dotted black;
    }
    .dividendTooltip div {
        overflow: hidden;
        float: left;
        display: block;
    }
.dividendTooltip {
    text-align: left;
    margin-left: 10px;
}

.dividendTooltip h2 {
    font-size:4.5rem;
}

    .dividendTooltip .tooltiptext {
        right: 20px;
        top: 50px;
        visibility: hidden;
        position: fixed;
        width: 350px;
        height: 260px;
        border: 1px solid green;
        background-color: azure;
        box-shadow: 4px 3px 10px #000;
        color: #000;
        text-decoration-style: double;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        z-index: 10;
        opacity: 0;
        transition: opacity 1s;
    }

    .dividendTooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 0.9;
    }

.navbar {
    padding-left:30px;
}

div.showElements {
    display:block;
}

div.collapse {
    display: none;
    visibility: hidden;
    animation: 0s fadeOut;
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}
h5.float {
    display: inline;
    float: left;
    padding: 0px 10px 0px 10px;
}

h5.exDateHeader, h5.payDateHeader {
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid;
    background-color: var(--exDividendColor);
    border-radius: 25px;
    color: white;
    text-shadow: 1px 1px 2px #000000;
}

h5.payDateHeader {
    background-color: var(--payDateColor);
}
#header {
    padding: 10px;
    margin-bottom: 10px;
    width: 600px;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
    background: rgba(255,255,255,0.75);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.exDate, .payDate {
    vertical-align: middle;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: #91d2ff;
}

.payDate {
    background-color: #0fb122;
}

h1.header {
    font-family: Georgia;
    font-weight: 800;
}

div.card, div.cardWeekend {
    height: 15rem;
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    overflow: hidden;
    float: left; /* add this */
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}

div.cardWeekend {
   height: 7.25rem;
   background-color: #a6d8a8;
}

div.header, div.headerWeekend, div.headerOtherMonth, div.headerToday {
    background-color: #29a32d;
    color: white;
    padding: 10px;
    font-size: 2.5rem;
    height: 6.5rem;
}

div.headerWeekend {
    background-color: #a6d8a8;
    float: left;
    width:6rem;
}

div.headerOtherMonth {
    background-color: #bababa;
}

div.headerToday {
    background-color: #0098b0;
}

div.container, div.containerToday, div.containerOtherMonth, div.containerWeekend {
    padding: 10px;
}

div.containerWeekend, div.containerOtherMonth {
    overflow: hidden;
}

    html, body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
